extends layout

block layout-content
    script.
        function callApi(endpoint){
            fetch(endpoint)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    document.getElementById("crash-id-display").innerHTML = JSON.stringify(data)
                });
        }
    div(style="display: flex; flex-direction: row; justify-content: center").jumbotron
        h1.Banner Crash Service
    div(style="display: flex; flex-direction: row; justify-content: center")
        div(style="width: 30em;")
            button(onclick="callApi('/crash')" style="margin-bottom: 1.5em").btn.btn-outline-danger.btn-block Crash
            button(onclick="callApi('/reset')").btn.btn-primary.btn-block Reset
    div(style="display: flex; flex-direction: row; justify-content: center")
        p(id="crash-id-display")