extends layout

block layout-content
    script.
        function callApi(endpoint){
            fetch(endpoint)
                .then(response => response.json())
                .then(data => console.log(data));
        }
    div.jumbotron
        h1.Banner Crash Service
    button(onclick="callApi('/crash')").btn.btn-outline-danger.btn-block Crash
    button(onclick="callApi('/reset')").btn.btn-primary.btn-block Reset